.notificacion {
    border-radius: 6px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 1rem;
    background: lightgrey;
}

.notificacion h3 {
    margin: 0;
    padding: 0;
}

.notificacion.success {
    color: darkgreen;
    border: 2px solid darkgreen;
}

.notificacion.error {
    color: red;
    border: 2px solid red;
}